<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'BlinkyLED' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>75211dd3-0290-4b5a-9bf5-da3b5a99b3e8</InstrumentationKey>
</ApplicationInsights>