<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'HelloWorld' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>af3241a7-a9d8-4a84-b88f-671aae88061c</InstrumentationKey>
</ApplicationInsights>