<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'ShiftRegister' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>1c1c8f78-b71b-480f-8208-eff1d95a176d</InstrumentationKey>
</ApplicationInsights>