<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'RGBLED' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>4c7a92e6-a820-45e6-92ab-92ac7845977d</InstrumentationKey>
</ApplicationInsights>